.git
.cursor
**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/.mypy_cache

backend/.env
backend/.venv
backend/venv
backend/football.db
backend/*.db

frontend/node_modules
frontend/dist

docker-data
football_old.db
telegram-web-app-develop

**/.DS_Store
